Source: tao-pegtl
Section: libs
Priority: optional
Maintainer: Birger Schacht <birger@debian.org>
Build-Depends: cmake,
               debhelper-compat (=13),
Standards-Version: 4.6.1.0
Homepage: https://github.com/taocpp/PEGTL
Vcs-Browser: https://salsa.debian.org/birger/tao-pegtl
Vcs-Git: https://salsa.debian.org/birger/tao-pegtl.git
Rules-Requires-Root: no

Package: tao-pegtl-dev
Section: libdevel
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Parsing Expression Grammar Template Library
 The Parsing Expression Grammar Template Library (PEGTL) is a zero-dependency
 C++11 header-only parser combinator library for creating parsers according to a
 Parsing Expression Grammar (PEG).
